<div id="wrapper">
    <div id="intro">
        <header>
            <h1 class="shadow">Wedding Guest List</h1>
        </header>
        <div id="intro_wrap" class="rounded-crn">
            <form action="../form_handler.js" method="post" id="guest_form">
                <h2 id="intro_text">Add Guests</h2>
                <div id="mobile_version">
                    <div>
                        <label class="mobile_label" for="name">Name</label>
                        <input type="text" id="mobile_name" name="mobile_user_name">
                    </div>

                    <div>
                        <label for="guest_number">Number of people:</label>
                        <select id="mobile_guest_number" name="mobile_guest_number">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div>
                        <label class="mobile_label">Bride or Groom's guest?</label>
                        <label for="bride">Bride</label>
                        <input type="radio" id="mobile_bride" name="mobile_guest_type" value="bride">

                        <label for="groom">Groom</label>
                        <input type="radio" id="mobile_groom" name="mobile_guest_type" value="groom">
                    </div>

                    <div>
                        <label id="include" class="mobile_label">Include on the final guest list?</label>
                        <label for="yes">Yes</label>
                        <input type="radio" id="mobile_yes" name="mobile_status" value="Yes">
                        <label for="undecided">Not sure</label>
                        <input type="radio" id="mobile_undecided" name="mobile_status" value="Undecided">
                        <label for="no">No</label>
                        <input type="radio" id="mobile_no" name="mobile_status" value="No">
                    </div>
                </div>
                <div class ="clearfix center_text" id="desktop_version">
                    <div id="left_div">
                        <label id="name-space" for="name">Name</label>
                        <label id="num-space" for="guest_number">Number of people</label>
                        <label id="type-space">Bride or Groom's guest?</label>
                        <label id="status-space">Include on the final guest list?</label>
                    </div>
                    <div id="right_div">
                        <div><input type="text" id="name" name="user_name"></div>
                        <div><select id="guest_number" name="guest_number">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        </div>
                        <div>
                            <label for="bride">Bride</label>
                            <input type="radio" id="bride" name="guest_type" value="bride">

                            <label for="groom">Groom</label>
                            <input type="radio" id="groom" name="guest_type" value="groom">
                        </div>
                        <div>
                            <label for="yes">Yes</label>
                            <input type="radio" id="yes" name="status" value="yes">
                            <label for="undecided">Not sure</label>
                            <input type="radio" id="undecided" name="status" value="undecided">
                            <label for="no">No</label>
                            <input type="radio" id="no" name="status" value="no">
                        </div>
                    </div>
                </div>
                <button class="rounded-crn" type="submit">Save</button>
            </form>
        </div>
    </div>
    <div id="list_guests">
        {{guest_list}}
    </div>
</div>
<div id="closing" class="clearfix">
    <footer>
        <div id="right_footer">
            <a id="footer_link" href="#intro">Back to Top</a>
        </div>
    </footer>
</div>
